@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#image{
    background-image: url(./assets/mos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}